<div class="breadcrumbs">
    <span>
        <span>
            <%= link_to "Home", root_path %> »
            <span>
                <strong class="breadcrumb_last" aria-current="page">Checkout Canceled</strong>
            </span>
        </span>
    </span>
</div>

<h1>Purchase Canceled</h1>

<div class="alert alert-danger">You have successfully CANCELED your purchase.</div>

<%= link_to "Back to Home", root_path, class: "btn btn-product-details" %>