<nav class="header-desktop__nav">
    <div class="header-desktop__nav__container container">
        <ul class="header-desktop__nav__menu">
            <li class="header-desktop__nav__menu__parent">
                <%= link_to "All Products", products_path, class: "header-desktop__nav__trigger#{' header-desktop__nav__trigger--active' if current_page? products_path}" %>
            </li>
            <% Department.all.order('name ASC').each do |department| %>
                <li class="header-desktop__nav__menu__parent">
                    <%= link_to department.name, department, class: "header-desktop__nav__trigger#{' header-desktop__nav__trigger--active' if current_page? department_path(department.id)}" %>
                </li>
            <% end %>
            <li class="header-desktop__nav__menu__parent">
                <%= link_to "Categories", categories_path, class: "header-desktop__nav__trigger#{' header-desktop__nav__trigger--active' if current_page? categories_path}" %>
            </li>


            <%# <li class="header-desktop__nav__menu__parent">
                <a href="https://nerdstore.com.br/categoria/vestuario/camisetas/"
                    class="header-desktop__nav__trigger">
                    Camisetas
                </a>
            </li>
            <li class="header-desktop__nav__menu__parent">
                <a href="https://nerdstore.com.br/categoria/livros/"
                    class="header-desktop__nav__trigger">
                    Livros
                </a>
            </li>
            <li class="header-desktop__nav__menu__parent">
                <a href="https://nerdstore.com.br/categoria/presentes/"
                    class="header-desktop__nav__trigger">
                    Presentes
                </a>
            </li>
            <li class="header-desktop__nav__menu__parent">
                <a href="https://nerdstore.com.br/categoria/cozinha/"
                    class="header-desktop__nav__trigger">
                    Cozinha
                </a>
            </li>
            <li class="header-desktop__nav__menu__parent">
                <a href="https://nerdstore.com.br/categoria/vestuario/"
                    class="header-desktop__nav__trigger">
                    Vestuário
                </a>
            </li>
            <li class="header-desktop__nav__menu__parent">
                <a href="https://nerdstore.com.br/categoria/decoracao/"
                    class="header-desktop__nav__trigger">
                    Decoração
                </a>
            </li> %>
        </ul>
    </div>
</nav>
