<div class="breadcrumbs">
    <span>
        <span>
            <%= link_to "Home", root_path %> »
            <span>
                <strong class="breadcrumb_last" aria-current="page">My Account</strong>
            </span>
        </span>
    </span>
</div>

<h1>My Account</h1>
<h2 class="mt-3 mb-3">All Orders</h2>
<% if @logged_in_user.nil? %>
<div class="alert alert-danger">
    <h2>Your have to be logged in to access this page.</h2>
    <%= link_to "Register/Login", root_path, class: "btn btn-product-details" %>
</div>
<% else %>
<p>Below you will find your orders details</p>

<div class="container-white shopping-cart" style="margin: 0.5rem auto;">
    <h2>TODO</h2>

<% end %>



</div>



