<h1 class="mb-2">Help Center</h1>


<div class="mt-3">
    <div class="container">
        <h2>CONTACT FORM HERE</h2>
        <h2>CONTACT FORM HERE</h2>
    </div>
</div>



<div class="">
    <p>Hello Nerd! Welcome to our Help Center.</p>
    <p>If you do not want to use the contact form, we have prepared the following contact channels bellow to facilitate communication with our team.</p>
    <p><strong>Email: </strong>sac@nerdstore.com.br</p>
    <p><strong>Phone:</strong> 204-555-5566<br></p>
</div>