a,
div,
form,
li,
ul {
    border: 0;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}
body,
html {
    background: #e9eae9;
    font-family: "Sarabun", sans-serif;
    font-weight: 400;
    min-height: 100%;
    border: 0;
    margin: 0;
    padding: 0;
}
main {
    padding-top: 15px;
    padding-bottom: 100px;
}
main .breadcrumbs {
    margin-bottom: 35px;
}
img {
    max-width: 100%;
    height: auto;
}
a {
    color: inherit;
    text-decoration: none !important;
}
li {
    list-style: none;
}
.container {
    width: 100%;
    max-width: 1130px;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.container-white {
    background-color: #fff;
}
.breadcrumbs {
    font-size: 14px;
    color: #757575;
    margin-bottom: 15px;
}
.breadcrumbs strong {
    color: #3b3a38;
}
.breadcrumbs .breadcrumb_last {
    color: #3b3a38;
    font-weight: 400;
}
.card-product {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    min-width: 10rem;
    max-width: 13rem;
    padding: 2px;
}
.list-inline-item:hover,
.card-product:hover {
    background-color: #00acb7;
    color: #fff;
}
.card-product a:hover {
    color: #fff;
}
.btn-product-details {
    background-color: #00acb7;
    width: 8.5rem;
    color: #fff;
    font-weight: bold;
    font-size: 0.8rem;
    border-radius: 16px;
}
.btn-product-details:hover {
    color: #fff;
}
.product-image {
    padding: 0.5rem;
    max-width: 13rem;
}
.product-image-show {
    padding: 0;
    max-width: 25rem;
}
.product-price {
    font-size: 1.2rem;
}
.description > p > br {
    display: block;
    content: "";
    margin-bottom: 1rem;
}
nav.pagination > span > a {
    color: inherit;
    text-decoration: none;
    border: 0;
    margin: 0;
    padding: 0;
    justify-content: center;
}
span.page {
    display: flex;
    line-height: 1rem;
    color: #757575;
    border-radius: 50px;
    border: 1px solid #757575;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
}
span.first,
span.last {
    display: flex;
    line-height: 1rem;
    color: #757575;
    border-radius: 50px;
    border: 1px solid #757575;
    width: 80px;
    height: 40px;
    justify-content: center;
    align-items: center;
}
span.first:hover,
span.page:hover,
span.last:hover {
    background: #00acb7;
    color: #fff;
}
span.page.current {
    background: #00acb7;
    color: #fff;
    width: auto;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid #00acb7;
}
span.page.gap {
    border: none;
}
span.prev,
span.next {
    display: none;
}
p.page-filter-container {
    display: inline-flex;
    align-items: center;
    margin-bottom: 0;
}
span.page-filter {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    margin-left: 1rem;
    line-height: 1rem;
    color: #757575;
    border-radius: 50px;
    border: 1px solid #757575;
    width: auto;
    height: 2rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
}
span.page-filter:hover {
    background: #00acb7;
    color: #fff;
}
span.page-filter.current {
    background: #00acb7;
    color: #fff;
    border: 1px solid #00acb7;
}
span.page-filter > a {
    color: inherit;
    text-decoration: none;
    border: 0;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.shopping-cart {
    padding: 1rem 2rem;
    border-radius: 16px;
}
.shopping-cart-form {
}

table.shop-table {
    width: 100%;
    border-collapse: separate;
}

table.shop-table thead {
}
table.shop-table thead th {
    font-size: 14px;
    font-weight: 400;
    color: #757575;
    text-align: left;
    padding: 8px;
    background-color: #fff;
    border-bottom: 1px solid #e9eae9;
}
table.shop-table thead th.product-name {
    padding-left: 40px;
}
tr.cart-item {
}
table.shop-table tbody td {
    font-size: 14px;
    font-weight: 400;
    color: #757575;
    text-align: left;
    padding: 10px;
    background-color: #fff;
    border-bottom: 1px solid #e9eae9;
}
td.product-thumbnail {
    border-collapse: separate;
    padding-left: 32px;
    border-radius: 8px 0 0 8px;
    border-left: 8px solid #00acb7;
    width: 130px;
}
table.shop-table tbody td.product-name {
    font-weight: 600;
}
table.shop-table tbody td.product-price {
    width: 120px;
    font-weight: 600;
}
table.shop-table tbody td.product-quantity {
    width: 120px;
    font-size: 16px;
    color: #3b3a38;
    font-weight: 600;
    text-align: center;
}
table.shop-table tbody td.product-subtotal {
    width: 120px;
    font-weight: 600;
}
table.shop-table tbody td.product-remove {
    padding-right: 40px;
    width: 70px;
}
table.shop-table tbody td.product-quantity .product-quantity-changer {
    display: inline-flex;
    border: 1px solid #e9eae9;
    border-radius: 27px;
    padding: 4px 5px;
}
table.shop-table tbody td.product-quantity .quantity {
}
table.shop-table tbody td.product-quantity .quantity .input-quantity {
    appearance: none;
    height: 100%;
    border: 0;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    width: 45px;
}
table.shop-table tbody td.product-quantity .product-quantity-changer__trigger {
    border: 2px solid #a9a9a9;
    appearance: none;
    background-color: transparent;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: relative;
    padding: 0;
    cursor: pointer;
}

.auth_container {
}

.login_form {
    padding: 20px;
    border-radius: 4px;
    background-color: #f2f2f2;
}
.login_form_row {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
    align-items: center;
}
.login_form_row label {
    display: block;
    color: #3b3a38;
    font-size: 16px;
    margin-bottom: 5px;
}
.login_form_row select,
.login_form_row input {
    width: 100%;
    height: 42px;
    background-color: #fff;
    border: 1px solid #828282;
    border-radius: 4px;
    font-size: 18px;
    color: #333;
    padding: 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) inset;
}

.login_form_row input[type="submit"].btn-submit {
    background-color: #00acb7;
    width: 8.5rem;
    color: #fff;
    font-weight: bold;
    font-size: 0.8rem;
    border-radius: 16px;
    margin: auto;
    display: block;
}
.login_form_row input[type="submit"].btn-submit:hover {
    color: #fff;
}
