<h1>All Brands</h1>

<% if @brands.empty? %>
    <p>There are no brands registered.</p>
<% else %>
    <p>Listing all <%= @brands.count %> brands</p>
    <ul class="list-group list-inline">
        <% @brands.each do |brand| %>
            <li class="">
            <%= link_to "#{brand.name} (#{brand.products.count})", brand, class: "list-group-item list-inline-item d-block border-0" %>
            </li>
        <% end %>
    </ul>
<% end %>
