<h1><%= @brand.name %></h1>

<% if @brand.products.empty? %>
    <p>There are no products found.</p>
<% else %>
    <p>Listing all <%= @brand.products.count %> products</p>
    <div class="card-deck">
        <%= render @brand.products %>
    </div>
<% end %>
