<h1>All Categories</h1>

<% if @categories.empty? %>
    <p>There are no categories registered.</p>
<% else %>
    <p>Listing all <%= @categories.count %> categories</p>
    <ul class="list-group list-inline">
        <% @categories.each do |category| %>
            <li class="">
            <%= link_to "#{category.name} (#{category.products.count})", category, class: "list-group-item list-inline-item d-block border-0" %>
            </li>
        <% end %>
    </ul>
<% end %>
