<h1><%= @category.name %></h1>

<% if @category.products.empty? %>
    <p>There are no products found.</p>
<% else %>
    <p>Listing all <%= @category.products.count %> products</p>
    <div class="card-deck">
        <%= render @category.products %>
    </div>
<% end %>
