<h1>All Products</h1>
<p>List of all products</p>


<% if @products.empty? %>
    <p>There are no products registered.</p>
<% else %>
    <ul class="list-group list-inline">
        <% @products.each do |product| %>
            <li class="list-group-item list-inline-item"><%= link_to product.name, product %></li>
        <% end %>
    </ul>
<% end %>

