<span class="header-desktop__nav__trigger__icon">
    <svg width="21" height="14" viewBox="0 0 21 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M21 2H0V0H21V2ZM21 8H0V6H21V8ZM0 14H21V12H0V14Z" fill="#00ACB7"></path>
    </svg>
</span>